.imagem2 {
    background-color: black;
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    border-radius: 450px !important;
    border: 0px solid #212121;
    box-shadow: 2px 3px 10px #212121;
  }
  
  .textos2 {
    font-weight: bold !important;
  }
  
  .btnCancelar {
    margin-right: 20px !important;
  }
  
  .icon {
    margin-left: 43%;
  }